# -- "Ananda.org (New)" (Ananda Worldwide's) Server in Cloudways --------
## -- Applications: ananda.org, staging.ananda.org, vayudev.ananda.org
# cloudways-account: ananda-worldwide
# cloudways-server-id: 734274
Host ananda-new-server
    HostName 45.63.93.73
    User master_bsmhtrxtar
    IdentityFile ~/.ssh/id_rsa

# -- "Small Sites" (Ananda Worldwide's) Server in Cloudways --------
## -- Applications: expandinglight.org, anandafarsi.org, nayaswami.org, www.ananda.center (Ananda centers), www.anandastock.org
# cloudways-account: ananda-worldwide
# cloudways-server-id: 279418
Host ananda-small-sites-server
    HostName 159.65.64.164
    User master_xvvmkqwmyn
    IdentityFile ~/.ssh/id_rsa

# -- "Guru Vault" (Ananda Worldwide's) Server in Cloudways --------
## -- Applications: meditationretreat.org, srw.ananda.org, irr.ananda.org, swami100.ananda.org, crystalhermitage.org, sevakaorder.org, www.treasuresalongthepath.com
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
Host ananda-guru-vault-server
    HostName 146.190.173.73
    User master_mzyxndeshz
    IdentityFile ~/.ssh/id_rsa

# -- "Holy Sea" (Dana's) Server in Cloudways --------
## -- Applications: danalynneandersen.com, awakeningartsacademy.com
Host dana-server
    HostName 161.35.130.229
    User master_jbgyyyuakr
    IdentityFile ~/.ssh/id_rsa


# -- "FJH SErver" (Michael Olivier's) Server in Cloudways --------
## -- Applications: freejoehunt.com, freejoehunt.com STAGING
Host free-joe-hunt-server
    HostName 64.23.141.141
    User master_ptbfgwkkxj
    IdentityFile ~/.ssh/id_rsa

# -- Ananda.org PRODUCTION Site in Cloudways (ananda.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 734274
# cloudways-app-id: 2457154
Host ananda-org-prod
    HostName 45.63.93.73
    User marcitaaks
    IdentityFile ~/.ssh/id_rsa

# -- Ananda.org STAGING Site in Cloudways (staging.ananda.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 734274
# cloudways-app-id: 2457155
Host ananda-org-staging
    HostName 45.63.93.73
    User michistaging
    IdentityFile ~/.ssh/id_rsa

# -- Ananda.org DEV Site in Cloudways (vayudev.ananda.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 734274
# cloudways-app-id: 3441618
Host ananda-org-vayudev
    HostName 45.63.93.73
    User vayucitolito
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Centers PRODUCTION Site in Cloudways (www.ananda.center) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 279418
# cloudways-app-id: 2103573
Host ananda-centers-prod
    HostName 159.65.64.164
    User centersahoy
    IdentityFile ~/.ssh/id_rsa

# -- Awakening Arts Academy PRODUCTION Site in Cloudways (awakeningartsacademy.com) ------------------
Host awakening-arts-academy-prod
    HostName 161.35.130.229
    User awakeningarts
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Europe PRODUCTION Site in Cloudways (anandaeurope.org) ------------------
# cloudways-account: ananda-europe
# cloudways-server-id: 1259260
# cloudways-app-id: 4525877
Host ananda-europe-prod
    HostName 161.35.80.224
    User sanghaeurope
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Europe STAGING Site in Cloudways (staging.anandaeurope.org) ------------------
Host ananda-europe-staging
    HostName 161.35.80.224
    User vayueuropestaging
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Español PRODUCTION Site in Cloudways (anandaespanol.org) ------------------
Host ananda-espanol-prod
    HostName 167.71.74.172
    User vayuspanish
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Library PRODUCTION Site in Cloudways (anandalibrary.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 802402
# cloudways-app-id: 2773206
Host ananda-library-prod
    HostName 164.92.102.81
    User library
    IdentityFile ~/.ssh/id_rsa


# -- Meditation Retreat PRODUCTION Site in Cloudways (meditationretreat.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 5961607
Host ananda-medretreat-prod
    HostName 146.190.173.73
    User medretreat
    IdentityFile ~/.ssh/id_rsa


# -- Meditation Retreat STAGING Site in Cloudways (staging.meditationretreat.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 5961654
Host ananda-medretreat-staging
    HostName 146.190.173.73
    User stagingmedret
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Events Hub DEV Site in Cloudways (events.ananda.org) — TEMPORARY: reclassify to PRODUCTION at launch ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 6550290
Host ananda-events-hub-dev
    HostName 146.190.173.73
    User vayucuto
    IdentityFile ~/.ssh/id_rsa

# -- Ananda Events Hub STAGING Site in Cloudways (https://wordpress-1195483-6568538.cloudwaysapps.com/) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 6568538
Host ananda-events-hub-staging
    HostName 146.190.173.73
    User twobillion
    IdentityFile ~/.ssh/id_rsa


# -- SRW/IRR/Swami100 Remote Site PRODUCTION in Cloudways (srw.ananda.org OR irr.ananda.org OR swami100.ananda.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 4670929
Host srw-irr-swami100-remote-prod
    HostName 146.190.173.73
    User vaitikaitis
    IdentityFile ~/.ssh/id_rsa


# -- Free Joe Hunt PRODUCTION in Cloudways (freejoehunt.com) ------------------
# cloudways-account: N/A
# cloudways-server-id: 1188438
# cloudways-app-id: 4182396
Host free-joe-hunt-prod
    HostName 64.23.141.141
    User freejoehunt
    IdentityFile ~/.ssh/id_rsa


# -- Ananda Music Library PRODUCTION in Cloudways (www.anandamusiclibrary.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 802402
# cloudways-app-id: 2754280
Host ananda-music-library-prod
    HostName 164.92.102.81
    User musiclibby
    IdentityFile ~/.ssh/id_rsa


# -- Crystal Hermitage PRODUCTION in Cloudways (crystalhermitage.org) ------------------
# cloudways-account: ananda-worldwide
# cloudways-server-id: 1195483
# cloudways-app-id: 4569235
Host crystal-hermitage-prod
    HostName 146.190.173.73
    User hermitage
    IdentityFile ~/.ssh/id_rsa
